
 

 body {
  min-height: 50rem;
  padding-top: 3.0rem;
} 

.border-custom{ border: 1px solid #d2d9e50f}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
 
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.dropdown-toggle::after {
  display:none;
}