
.accent { color: var(--accent); }
.accent:focus { box-shadow: var(--accent) 0px 0px 0px 1px inset }
.accent:active { background-color: var(--accent-2); }
.accent-bg { composes: accent; background-color: var(--accent-1); }

.negative { color: var(--negative); }
.negative:focus { box-shadow: var(--negative) 0px 0px 0px 1px inset; }
.negative:active { background-color: var(--negative-2); }
.negative-bg { composes: negative; background-color: var(--negative-1); }

.positive { color: var(--positive); }
.positive:focus { box-shadow: var(--positive) 0px 0px 0px 1px inset; }
.positive:active { background-color: var(--positive-2); }
.positive-bg { composes: positive; background-color: var(--positive-1); }

._bg { color: var(--background); }
._bg:focus { box-shadow: var(--background) 0px 0px 0px 1px inset; }
._bg:active { background-color: var(--background-2); }
.background { composes: _bg; color: var(--background); }
.background-3 { composes: _bg; color: var(--background-3); }
.background-bg { composes: background; background-color: var(--background-1); }

._prm { color: var(--primary); }
._prm:focus { box-shadow: var(--accent) 0px 0px 0px 1px inset; }
._prm:active { color: var(--accent); background-color: var(--accent-2); }
.primary { composes: _prm; color: var(--primary); }
.primary-3 { composes: _prm; color: var(--primary-3); }
.primary-2 { composes: _prm; color: var(--primary-2); }
.primary-bg { composes: primary; background-color: var(--primary-1); }

.disabled-primary-2:disabled { color: var(--primary-2); }
.disabled-primary-1-bg:disabled { background-color: var(--primary-1); }

