
$font-size-base: 0.75rem;
$table-cell-padding: 0.6rem;
$table-cell-padding-sm: 0.1rem;
$input-btn-padding-y: 0.3rem;
$input-btn-padding-x: 0.6rem;
$input-btn-focus-width: 0.1rem;
$input-btn-padding-y-sm: 0.2rem;
$border-radius: 0.2rem;
$border-radius-lg: 0.2em;
$border-radius-sm: 0.2rem;
$navbar-nav-link-padding-x: 0.4rem;
$nav-link-padding-y: 0.4rem;
$nav-link-padding-x: 0.9rem;
$grid-gutter-width: 10px;

$card-spacer-x: .25rem;
$card-spacer-y: .25rem;
$card-border-radius: 0rem;



