
@import 'base';

$blue: #0099ff;
$test: #006;
// $dark: #161c27;
$success: #00ec17;
$dark: #151c28;

$primary: $blue;
$secondary: #242d3d;
$light: #eaeaea;
$info : #fff;

$positive: #00ec17;
$positive-2:rgba(53,192,57,.2);
$positive-1:rgba(53,192,57,.1);

$accent:#34aaef;
$accent-2:rgba(52,170,239,.2);
$accent-1:rgba(52,170,239,.1);
$negative:#f44034;
$negative-1:rgba(255,77,100,.1);
$negative-2:rgba(244,64,52,.2);



